*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
height: 100vh;
width: 100%;
overflow: hidden;
background:url("./img/colorful-gradient-abstract-background-liquid-shape-design-eps-10-editable-vector.jpg");
align-items: center;
display: flex;
justify-content: center;
}
.box-wrapper{
    display: flex;
    height: 600px;
    width: 600px;
    flex-direction: column;
}
.row{
    display: flex;
    height: 34%;
    flex-direction: row;
    position: relative;
}
.column{
    border: 1px solid white;
    width: 34%;
    position: relative;
    overflow: hidden;
}
h1{
    text-align: center;
    color: rgb(255, 0, 242);
    padding-bottom: 30px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 800;
}
.score-time{
    display: flex;
    justify-content: center;
    padding-bottom:30px;
    font-size: 30px;
    gap: 50px;
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}
.start-stop{
    display: flex;
    justify-content: center;
    border: none;
    padding-top: 50px;
    gap: 200px;
}
.start{
    height: 50px;
    width: 150px;
    border-radius: 50px;
    background: rgb(237,15,217);
    background: linear-gradient(90deg, rgba(237,15,217,1) 33%, rgba(0,142,255,1) 66%);
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.stop{
    height: 50px;
    width:150px;
    border-radius: 50px;
    background: rgb(158,0,91);
    background: rgb(237,15,217);
    background: linear-gradient(90deg, rgba(237,15,217,1) 33%, rgba(0,142,255,1) 66%);
    cursor: pointer;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.mole{
    width: 200px;
    position: absolute;
    transition: all 0.5s;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}